img {
  display: block;
  max-width: 100%;
}

li {
  margin-left: 20px;
  width: 340px;
  height: 180px;
  overflow: hidden;
}

.gallery-list {
  list-style: none;
  display: flex;
  align-items: center;
}
